@media screen and (max-width: 768px){
  .annoncement {
    background-color: #e8bfb1;
    font-family: "Roboto";
    color: white;
    display: flex;
    align-items: center;
    font-size: 18px;
  }
  .annoncement p {
    padding: 1%; }
  
}



@media screen and (min-width: 1024px){
  .annoncement {
    background-color: #e8bfb1;
    width: 100%;
    height: 110px;
    font-family: "Corinthia", cursive;
    color: white;
    display: flex;
    align-items: center;
    font-size: 40px;
    justify-content: center;
    letter-spacing: 5px;
  }
  
}
