@media screen and (max-width: 768px) {
  .navbar {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .navbar-header {
    display: flex;
    flex-direction: column;
  }
  .navbar-logo {
    padding: 1%;
    font-family: "Corinthia", cursive;
    font-size: 30px;
    display: flex;
    justify-content: center;
  }

  .navbar-search {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    background-color: beige;
    height: 50px;
    width: 100%;
    padding: 5%;
  }
  .navbar-SearchIcon {
    cursor: pointer;
  }
  .navbar-search input {
    border: none;
    border-radius: 1.5rem;
    width: 90%;
    height: 45px;
    background-color: beige;
    justify-content: center;
  }
  .navbar-search input:focus {
    border: none;
    outline: none;
  }
  .navbar-nav {
    display: flex;
    padding: 1%;
    width: 100%;
    flex-direction: column;
  }
  .navbar-nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    flex-direction: column;
  }
  .navbar-nav li {
    list-style: none;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 30px;
  }
  .navbar-ShoppingCartIcon {
    cursor: pointer;
  }
}

@media screen and (min-width: 1023px) {
  .navbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar-logo {
    padding: 1%;
    font-family: "Corinthia", cursive;
    font-size: 30px;
    cursor: pointer;
  }

  .navbar-search {
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    background-color: beige;
    height: 50px;
    width: 80%;
  }
  .navbar-SearchIcon {
    cursor: pointer;
  }
  .navbar-search input {
    border: none;
    border-radius: 1.5rem;
    width: 90%;
    height: 45px;
    background-color: beige;
    justify-content: center;
  }
  .navbar-search input:focus {
    border: none;
    outline: none;
  }
  .navbar-nav {
    display: flex;
    align-items: center;
    padding: 1%;
    justify-content: flex-end;
    width: 100%;
  }
  .navbar-nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
  }
  .navbar-nav li {
    list-style: none;
    font-size: 20px;
    cursor: pointer;
  }
  .navbar-ShoppingCartIcon {
    cursor: pointer;
  }
}
