@media screen and (max-width: 768px) {
  .presentation {
    margin-top: 4%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .presentation h1 {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px){
  .presentation {
    margin-top: 4%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  
}
