@media screen and (max-width: 768px) {
  .products {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    justify-content: center;
    padding: 1%;
  }

  .product {
    max-width: 300px;
    margin: 2%;
    border: 1px solid rgba(128, 128, 128, 0.459);
    border-radius: 5px;
    padding: 1%;
  }

  .product-img {
    max-width: 290px;
    height: 300px;
  }

  .figure-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .figure-bottom {
    display: flex;
    background-color: #f2c968;
    width: 100%;
    justify-content: space-around;
    height: 45px;
    align-items: center;
    margin-top: 10%;
    color: #fff;
  }
  .name {
    font-size: 18px;
    font-family: "Roboto";
  }

  .price {
    display: flex;
    align-items: center;
    font-family: "Roboto";
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  .products {
    display: flex;
    flex-wrap: wrap;

    margin-top: 5%;
    justify-content: center;
  }

  .product {
    width: 400px;
    margin: 2%;
    border: 1px solid rgba(128, 128, 128, 0.459);
    border-radius: 5px;
    box-shadow: rgba(83, 78, 78, 0.144) 10px 20px;
  }

  .product-img {
    padding: 7%;
    width: 300px;
    height: 300px;
  }

  .figure-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .figure-bottom {
    display: flex;
    background-color: #f2c968;
    width: 100%;
    justify-content: space-around;
    height: 45px;
    align-items: center;
    margin-top: 10%;
    color: #fff;
  }
  .name {
    font-size: 18px;
    font-family: "Roboto";
  }

  .price {
    display: flex;
    align-items: center;
    font-family: "Roboto";
    font-size: 18px;
  }
}
